<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" th:href= "@{/img/core-img/favicon.ico}">

    <!-- Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css} ">
    <link rel="stylesheet" th:href="@{/css/customStyle.css}">
</head>

<body>
<!-- Header -->
<div th:replace="/fragments/header :: header"/>

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" th:style="'background-image: url(' + @{img/bg-img/breadcumb3.jpg} +');'">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Login</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome Back</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form th:action="@{/j_spring_security_check}" method="post" >
<!--                        <form method="post">-->
                            <div class="form-group">
                                <label for="exampleInputUsername">Your username</label>
                                <input type="text" class="form-control" id="exampleInputUsername"  placeholder="Enter your username" name="username">
                                <small id="email" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your username with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me">
                                <label class="form-check-label" for="rememberMe">Remember me</label>
                            </div>
                            <button id="btnLogin" type="submit" class="btn oneMusic-btn mt-30">Login</button>
                        </form>
                    </div>
                    <p>Don't have an account? <a th:href="@{/register}">Register here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->
<!--footer-->
<div th:replace="/fragments/footer :: footer"/>

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>
<script type="text/javascript" >
</script>
</body>

</html>